body{
    position: relative;
    background-color: whitesmoke;
}
.converterWrapper {
    min-height: 50vh;
    margin: 13% auto;
    width: 500px;
    border: 1px solid black;
    position: absolute;
    top:0; right: 0; bottom: 0; left: 0;
  }